// Margin
.mb-0 {
  margin-bottom: 0 !important;
}
.mr-3 {
  margin-right: 3px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-30 {
  margin-right: 30px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-3x {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mt-4x {
  margin-top: 1.885rem;
}
.mb-4x {
  margin-bottom: 1.885rem;
}
.mb-7 {
  margin-bottom: 7rem !important;
}
.mt-5- {
  margin-top: -5px !important;
}
// Padding
.pt-25x {
  padding-top: 25px;
}
.pt-10x {
  padding-top: 10px;
}
.pb-10x {
  padding-bottom: 10px;
}

// Height - Width
.h-vh100 {
  min-height: 100vh;
}
.h-500 {
  height: 500px;
}
.h-200 {
  height: 200px;
}
.w-100x {
  width: 100px;
}
.w-160 {
  width: 160px;
}
.w-200 {
  width: 200px;
}
.w-275 {
  width: 275px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}
.w-550 {
  width: 550px;
}
.w-200 {
  width: 200px;
}
.wm-70 {
  min-width: 70px;
}
.wm-100 {
  min-width: 100px;
}
.wm-140 {
  min-width: 140px;
}
.wm-170 {
  min-width: 170px;
}
.wmax-170 {
  max-width: 170px;
}
.wm-200 {
  min-width: 200px;
}
.h-100x {
  height: 100px;
}
.h-80 {
  height: 80px;
}
.w-20 {
  width: 20px;
}
.w-10 {
  width: 10px;
}
.w-50 {
  width: 50px;
}
