<div class="account-pages bg-login-img">
  <div class=" container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center mb-5 text-muted">
          <a routerLink="/" class="d-block auth-logo">
            <img src="assets/images/logo-dark.png" alt="" height="20" class="auth-logo-dark mx-auto">
            <img src="assets/images/logo-light.png" alt="" height="20" class="auth-logo-light mx-auto">
          </a>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">

          <div class="card-body">

            <div class="p-2">
              <div class="text-center">

                <div class="avatar-md mx-auto">
                  <div class="avatar-title rounded-circle bg-light">
                    <i class="bx bxs-envelope h1 mb-0 text-primary"></i>
                  </div>
                </div>
                <div class="p-2 mt-4">
                  <h4>Verify your email/phone</h4>
                  <p class="mb-4">Please enter the 4 digit code sent to <span class="fw-semibold text-danger">{{
                      emailPhoneForgotPass
                      }}</span>
                  </p>
                  <form>
                    <ng-otp-input [config]="config" (onInputChange)="checkOtpCode($event)"></ng-otp-input>
                  </form>
                  <div class="mt-4 text-end flex justify-content-between">
                    <button class="btn btn-primary w-md btn-shadow" [routerLink]="URL.FORGOT_PASSWORD" type="
                      button">Back</button>
                    <button class="btn btn-success w-md btn-shadow" type="submit" (click)="onConfirm()">Confirm</button>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>