<div class="card">
  <div class="card-body h-vh100">
    <div class="card-border-title flex-between pb-1 pt-0 mt-0 mt-5-">
      <h4 class="card-title text-uppercase">{{ 'DATA.EMPLOYEES.LIST_LEADER_TITLE' | translate }}</h4>
      <button class="btn btn-primary btn-md text-uppercase mt-1 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 btn-shadow"
        (click)="addNewPtLeader()">
        <i class="fas fa-plus"></i></button>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row mb-3 mt-2">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="input-group form-search mt-2">
              <input class="form-control form-search-input" [placeholder]="'HEADER.SEARCH' | translate"
                [(ngModel)]="searchValue" (keyup.enter)="onSearch()" />
              <div>
                <div class="btn-search-primary" (click)="onSearch()"><i class="fas fa-search"></i></div>
              </div>
            </div>
          </div>
          <div class=" col-xl-2 col-lg-3 col-md-3 col-sm-6 col-12">
            <ng-select class="mt-2" [(ngModel)]="selectedClub" (ngModelChange)="onChangeClub($event)"
              [placeholder]="'SELECTBOX.CLUB' | translate" [disabled]="isDisableSelected">
              <ng-option *ngFor="let club of listClub" [value]="club.id">
                {{ translate.currentLang === 'en' ? club.nameEn : club.nameVi }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="col-12 h-vh100">
        <div class="table-responsive">
          <table
            class="table table-striped table table-bordered table-nowrap dt-responsive nowrap no-footer dtr-inline">
            <thead>
              <tr class="text-center text-overflow text-uppercase font-size-15">
                <th scope="col">{{ 'TABLE.ID' | translate }}</th>
                <th scope="col">{{ 'TABLE.FULL_NAME' | translate }}</th>
                <th scope="col">{{ 'TABLE.PHONE' | translate }}</th>
                <th scope="col">{{ 'TABLE.GROUP' | translate }}</th>
                <th scope="col">{{ 'TABLE.CLUB' | translate }}</th>
                <th scope="col">{{ 'TABLE.MANAGE' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <!-- (click)="viewDetail(item, $event)" -->
              <tr class="align-middle h6 h-80 font-size-14" *ngFor="let item of listPTLeader">
                <td class="text-center" (click)="viewDetail(item, $event)">{{ item.accountId }}</td>
                <td class="text-center" (click)="viewDetail(item, $event)">
                  <p class="m-0">{{ item.firstName + ' ' + item.lastName }}</p>
                  <p class="m-0 pt-2">{{ item.email }}</p>
                </td>
                <td class="text-center" (click)="viewDetail(item, $event)">{{ item.phone }}</td>
                <td class="text-center" (click)="viewDetail(item, $event)">{{ item.groupName || "-" }}</td>
                <td class="text-center" (click)="viewDetail(item, $event)">
                  {{ translate.currentLang === 'en' ? item.clubNameEn :item.clubNameVi || '-'}}
                </td>
                <td class="text-center">
                  <!-- btn-danger -->
                  <button type="button" class="btn btn-default btn-sm btn-only-shadow"
                    [ngbTooltip]="'BUTTON.DELETE' | translate">
                    <i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center pagination-footer flex-wrap pagination-rounded">
          <div class="paging-limit mt-3">
            <ng-select [clearable]="false" [(ngModel)]="pageSize" (change)="getListPTLeader()">
              <ng-option [value]="10">10</ng-option>
              <ng-option [value]="20">20</ng-option>
              <ng-option [value]="50">50</ng-option>
            </ng-select>
          </div>
          <div class="paging-nav h6">
            <ngb-pagination class="mb-0 font-size-12" [maxSize]="4" [rotate]="true" [ellipses]="false"
              [boundaryLinks]="true" [(page)]="page" [pageSize]="pageSize" [collectionSize]="total"
              (pageChange)="loadNext($event)">
              <ng-template ngbPaginationPrevious>{{ 'BUTTON.PREV' | translate }}</ng-template>
              <ng-template ngbPaginationNext>{{ 'BUTTON.NEXT' | translate }}</ng-template>
            </ngb-pagination>
          </div>
          <div class="paging-total mt-3">
            <span class="h6 fw-bold">{{ total || 0 }}</span> {{ 'PAGING.ITEM_IN' | translate }} <span
              class="h6 fw-bold">{{
              pages || 0 }}</span> {{ 'PAGING.PAGES' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
