<div class="card">
  <div class="card-body font-size-15">
    <h4 class="card-title mb-3 text-uppercase card-border-title">{{ title | translate }}</h4>
    <form [formGroup]="form" *ngIf="form">
      <div class="row">
        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
          <!-- NameEn -->
          <div class="mb-3">
            <label class="form-label">{{ 'TABLE.NAME_EN' | translate}}</label>
            <input type="" class="form-control" formControlName="nameEn">
          </div>
        </div>
        <div class=" col-12 col-xl-6 col-lg-6 col-md-6 ">
          <!-- NameVi -->
          <div class=" mb-3">
            <label class="form-label">{{ 'TABLE.NAME_VI' | translate}}</label>
            <input type="text" class="form-control" formControlName="nameVi">
          </div>
        </div>
        <!-- descriptionsEn -->
        <div class="mb-3 form-group">
          <label for="" class="form-label">{{ 'TABLE.DESCRIPTION_EN' | translate }}</label>
          <textarea rows="3" class="form-control" formControlName="descriptionEn"></textarea>
        </div>
        <!-- descriptionsVi -->
        <div class=" mb-3">
          <label class="form-label">{{ 'TABLE.DESCRIPTION_VI' | translate}}</label>
          <textarea rows="3" class="form-control" formControlName="descriptionVi"></textarea>
        </div>
        <!-- Footer -->
        <div class="card-footer d-flex flex-wrap gap-2 justify-content-center">
          <button type="button" class="btn btn-danger waves-effect text-uppercase font-w600 btn-shadow"
            (click)="onCancel()">
            {{ 'BUTTON.CANCEL' | translate }}
          </button>
          <button type="submit" class="btn btn-primary waves-effect waves-light text-uppercase font-w600 btn-shadow"
            (click)="onSubmit()">
            {{ 'BUTTON.SUBMIT' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
