<!-- Scrollable modal -->
<div class="card">
  <div class="card-body font-size-15">
    <h4 class="card-title mb-3 text-uppercase card-border-title text-center">{{ 'FORM.APPROVE_ORDER' | translate }}</h4>
    <!-- Footer -->
    <div class="d-flex flex-wrap gap-2 justify-content-center mt-3">
      <button type="reset" class="btn btn-danger waves-effect text-uppercase font-w600 btn-shadow" (click)="onCancel()">
        {{ 'BUTTON.CANCEL' | translate }}
      </button>
      <button type="button" class="btn btn-primary waves-effect waves-light text-uppercase font-w600 btn-shadow"
        (click)="onSubmit()">
        {{ 'BUTTON.CONFIRM' | translate }}
      </button>
    </div>
  </div>
</div>