<div class="table-responsive">
  <table class="table table-striped table-bordered table-nowrap dt-responsive nowrap no-footer dtr-inline">
    <thead>
      <tr class="text-center text-overflow text-uppercase font-size-15">
        <th scope="col">{{ 'TABLE.FULL_NAME' | translate }}</th>
        <th scope="col">{{ 'TABLE.PACKAGE_NAME' | translate }}</th>
        <th scope="col">{{ 'TABLE.PAYROLL' | translate }}</th>
        <th scope="col">{{ 'TABLE.START_DATE' | translate }}</th>
        <th scope="col">{{ 'TABLE.END_DATE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center align-middle h6 font-size-14" *ngFor="let item of listData">
        <td class="text-center text-capitalize">{{ item.fullName }}</td>
        <td class="text-center">{{ translate.currentLang === 'en' ? item.packageNameEn :
          item.packageNameVi }}
        </td>
        <td class="text-center">{{ item.payroll | currency: 'VND':'' }}</td>
        <td class="text-center">
          {{ item.startDate | date: dayFormat }}
        </td>
        <td class="text-center">
          {{ item.endDate | date: dayFormat }}
        </td>
      </tr>
    </tbody>
  </table>
</div>