<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <ul ngbNav #customNav="ngbNav" [activeId]="1"
        class="nav-tabs nav-tabs-custom nav-justified w-300 text-uppercase font-size-15 align-items-center">
        <li [ngbNavItem]="1">
          <a ngbNavLink (click)="getListPtHistory()">
            <span class="d-block d-sm-none"><i class="fas fa-file-contract"></i></span>
            <span class="d-none d-sm-block">{{ 'TAB_MENU.HISTORY_GROUP' | translate }}</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="Table"></ng-template>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="customNav"></div>
    </div>
  </div>
</div>
<!-- Tab Content -->
<!-- Card Content Revenue By Month -->
<ng-template #Table>
  <div class="row mt-3">
    <div class="col-12 ">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-nowrap dt-responsive nowrap no-footer dtr-inline">
          <thead>
            <tr class="text-center text-overflow text-uppercase font-size-15">
              <th scope="col">{{ 'TABLE.PT_GROUP_NAME' | translate }}</th>
              <th scope="col">{{ 'TABLE.CREATED_AT' | translate }}</th>
              <th scope="col">{{ 'TABLE.CREATED_BY' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center align-middle h6 font-size-14" *ngFor="let item of ptHistoryGroup ">
              <td>{{ item.groupPtName }}</td>
              <td>{{ item.createdAt| date: dayFormat }}</td>
              <td>{{ item.createdName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class=" text-center pagination-footer flex-wrap pagination-rounded">
        <div class="paging-limit mt-3">
          <ng-select [clearable]="false" [(ngModel)]="pageSize" (change)="getListPtHistory()">
            <ng-option [value]="10">10</ng-option>
            <ng-option [value]="20">20</ng-option>
            <ng-option [value]="50">50</ng-option>
          </ng-select>
        </div>
        <div class="paging-nav h6">
          <ngb-pagination class="mb-0 font-size-12" [maxSize]="4" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true" [(page)]="page" [pageSize]="pageSize" [collectionSize]="total"
            (pageChange)="loadNext($event)">
            <ng-template ngbPaginationPrevious>{{ 'BUTTON.PREV' | translate }}</ng-template>
            <ng-template ngbPaginationNext>{{ 'BUTTON.NEXT' | translate }}</ng-template>
          </ngb-pagination>
        </div>
        <div class="paging-total mt-3">
          <span class="h6 fw-bold">{{ total || 0 }}</span> {{ 'PAGING.ITEM_IN' | translate }} <span
            class="h6 fw-bold">{{
            pages || 0 }}</span> {{ 'PAGING.PAGES' | translate }}
        </div>
      </div>
    </div>
  </div>
</ng-template>