<div class="account-pages bg-login-img">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Reset Password</h5>
                  <p>Re-Password with Gym Vision.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <form class="needs-validation" name="resetForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
              <div class="mb-3 mt-3">
                <label for="username">Input Email Or Phone Number</label>
                <input type="text" formControlName="userName" class="form-control" name="username"
                  placeholder="Email / Phone Number..." autofocus autocomplete="on">
              </div>
              <div class="text-end flex justify-content-between">
                <button class="btn btn-primary w-md btn-shadow" [routerLink]="URL.LOGIN" type="button">Back</button>
                <button class="btn btn-primary w-md btn-shadow" type="submit">Reset</button>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->