/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

// Overwrite Css NgbTooltip
// ::ng-deep
.white-tooltip .tooltip-inner {
  max-width: 350px;
  text-align: center;
  background-color: white !important;
  color: black;
  border-radius: 5px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 10pt;
  font-weight: 500;
}

.tng-tooltip .tooltip-inner {
  max-width: 350px;
  text-align: left;
  background-color: white !important;
  color: black;
  border-radius: 5px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 10pt;
  font-weight: 500;
}

// Fix Scroll When Open Modal
body.modal-open {
  overflow: visible;
}
