<!-- Has Permisson F_DASHBOARD -->
<ng-template [ngxPermissionsOnly]="'F_DASHBOARD'">
  <div class=" container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mb-0 font-size-18">Dashboard</h4>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Welcome to Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div class="row">
      <!-- Now In Club -->
      <div class="col-xl-6 col-lg-12 col-12">
        <app-chart-now-in-club [listClub]="listClub" [userInfo]="userInfo">
        </app-chart-now-in-club>
      </div>
      <!-- Revenue History -->
      <div class="col-xl-6 col-lg-12 col-12">
        <app-chart-revenue-history [listClub]="listClub" [userInfo]="userInfo"></app-chart-revenue-history>
      </div>
      <!-- Active Member-->
      <div class="col-xl-6 col-lg-12 col-12">
        <app-chart-active-member [listClub]="listClub" [userInfo]="userInfo"></app-chart-active-member>
      </div>
      <!-- Active Member History -->
      <div class="col-xl-6 col-lg-12 col-12">
        <app-chart-active-member-history></app-chart-active-member-history>
      </div>
      <!-- Total Revenue -->
      <div class="col-xl-6 col-lg-12 col-12">
        <app-chart-total-revenue [listClub]="listClub" [userInfo]="userInfo"></app-chart-total-revenue>
      </div>
      <!-- Payment Plan -->
      <div class="col-xl-6 col-lg-12 col-12">
        <app-chart-payment-plan [listClub]="listClub" [userInfo]="userInfo"></app-chart-payment-plan>
      </div>
    </div>
  </div>
</ng-template>

<!-- No Permisson F_DASHBOARD -->
<ng-template [ngxPermissionsExcept]="'F_DASHBOARD'">
  <app-no-dashboard></app-no-dashboard>
</ng-template>